{% extends "base.html" %}
{% set encoding = 'utf-8' %}
{% block head %}
<style>
    body {
      background-color: #282828;
    }
    .container {
      text-align: center;
      padding: 20px;
      margin: 0 auto;
      width: 50%;
      border: 2px solid #ccc;
      font-family: Arial, sans-serif;
    }
    .container div {
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      margin: 20px 0;
      border-collapse: collapse;
    }

    thead {
      background-color: #3a3a3a;
    }

    tbody {
      background-color: #525252;
    }

    tr {
      border-bottom: 1px solid #dddddd;
    }

    tr:nth-child(even) {
      background-color: #3a3a3a;
    }

    td, th {
      padding: 10px;
      text-align: left;
      color: white;
    }

    th {
      font-weight: bold;
      color: white;
    }
    a{
        text-decoration: none; /* убираем нижнее подчеркивание */
        font-size: 24px; /* устанавливаем размер шрифта 24px */
        font-family: Arial, sans-serif; /* меняем шрифт на Arial */
    }

</style>
{% endblock %}

{% block content %}
<a class="search-button" href="http://127.0.0.1:8000/tg/channels">Show channels</a>
<div class="container">
<table>
    <thead>
        <tr>
            <th>Имя канала</th>
            <th>ID пользователя</th>
            <th>Текст сообщения</th>
            <th>Флаг</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
        <tr>
            <td>{{ comment["channel"] }}</td>
            <td>{{ comment["user_id"] }}</td>
            <td>{{ comment["message"] }}</td>
            <td>{{ comment["flag"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}